<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/svgs.css">
    <link rel="stylesheet" href="/genreAndDevStyle.css">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="global-wrapper">
        <%- include('navbar', { navLinks }) %>
        <div class="content">
            <a href="/category" class="btn"><%= btnTitle %></a>
            <div class="main-content">
                <div class="category-info">
                    <div class="category-img" style="background-image: <%= category.url %>; background-size: <%= imgStyling %>">
                        <div class="category-details">
                            <h1><%= category.name %></h1>
                            <h3><i>
                                Contains <%= category.numberOfGames %> 
                                <% if (category.numberOfGames <= 1) { %>
                                    game
                                <% } else { %>
                                    games
                                <% } %>
                            </i></h3>
                            <% if (category.isDefault === true) { %>
                                <div class="option-buttons">
                                    <a href="/<%= path %>/<%= category.id %>/update" class="btn">Update</a>
                                    <a href="/<%= path %>/<%= category.id %>/delete" class="btn">Delete</a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="products-list">
                    <%- include('productCard', { productsArray }) %>
                </div>
            </div>
        </div>
    </div>
    <%- include('footbar') %>
</body>
</html>