<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/svgs.css">
    <link rel="stylesheet" href="/editProductStyle.css">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="global-wrapper">
        <%- include('partials/navbar', { navLinks }) %>
        <% if (errors && errors.length !== 0) { %>
            <%- include('partials/errors', { errors }) %>
        <% } %>
        <div class="content">
            <a href="/products/<%= product.id %>" class="btn"><%= btnTitle %></a>
            <form class="main-content" method="POST" action="/products/<%= product.id %>/update">
                <h1><%= title %></h1>
                <div class="main-content-child">
                    <div class="inputs-wrapper">
                        <div>
                            <label for="name">Name</label>
                            <input type="text" id="edit-game-name" name="name" value="<%= product.name %>" autocomplete="off" required />
                        </div>
                        <div>
                            <label for="price">Price</label>
                            <input type="number" id="edit-game-price" name="price" value="<%= product.price %>" autocomplete="off" required />
                        </div>
                        <div>
                            <label for="rating">Rating</label>
                            <input type="number" id="edit-game-rating" name="rating" value="<%= product.rating %>" autocomplete="off" max required />
                        </div>
                        <div>
                            <label for="description">Description</label>
                            <textarea type="text" id="edit-game-description" name="description" autocomplete="off" required><%= product.description %></textarea>
                        </div>
                        <div class="image-input-wrapper">
                            <label for="gameImg">Photo</label>
                            <input type="file" class="image-input" name="gameImg" accept="image/png, image/jpeg" />
                        </div>
                    </div>
                    <div class="selects-wrapper">
                        <%- include('partials/suggestion', { subArray: product.genre, generalArray: genresListArray, title: 'Genres', field: 'genre' }) %>
                        <%- include('partials/suggestion', { subArray: product.developers, generalArray: devsListArray, title: 'Developers', field: 'dev' }) %>
                    </div>
                </div>
                <button type="submit" class="btn">Done</button>
            </form>
        </div>
    </div>
    <%- include('partials/footbar') %>
</body>
</html>

<script>
    function testForError() {
        const error = document.getElementById('error-wrapper');
        if(document.body.contains(error)) {
            setTimeout(() => {
                error.style.display = 'none';
            }, 3000);
        };
    };

    testForError();
</script>