<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/svgs.css">
    <link rel="stylesheet" href="/homePageStyle.css">
    <!-- <link rel="stylesheet" href="/css/index.css"> -->
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="global-wrapper">
        <%- include('partials/navbar', { navLinks }) %>
        <% if (errors && errors.length !== 0) { %>
            <%- include('partials/errors', { errors }) %>
        <% } %>
        <div class="content">
            <%- include('partials/homepageText') %>
            <div class="content-links">
                <%- include('partials/contentLinkDiv', { data: navLinks[1] }) %>
                <div class="content-links-subchild-div">
                    <%- include('partials/contentLinkDiv', { data: navLinks[2] }) %>
                    <%- include('partials/contentLinkDiv', { data: navLinks[3] }) %>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footbar') %>
</body>
</html>

<script>
    function testForError() {
        const error = document.getElementById('error-wrapper');
        if(document.body.contains(error)) {
            setTimeout(() => {
                error.style.display = 'none';
            }, 3000);
        };
    };

    testForError();
</script>