<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/svgs.css">
    <link rel="stylesheet" href="/productsPage.css">
    <link rel="stylesheet" href="/searchStyle.css">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="global-wrapper">
        <%- include('partials/navbar', { navLinks }) %>
        <div class="content">
            <a href="/games" class="btn"><%= btnTitle %></a>
            <div class="main-content">
                <% if (productsArr && productsArr.length > 0) { %> 
                    <h1>Results:</h1>
                    <div class="products-list">
                        <%- include('partials/productCard', { productsArr }) %>
                    </div>
                <% } else { %>
                    <h1 id="no-product-h1">No product found :/</h1>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('partials/footbar') %>
</body>
</html>